<?xml version="1.0" encoding="UTF-8"?>

<suite name="restassuredtestsuite">

	<test thread-count="5" name="restassuredtestcases">
	<listeners>
	<listener class-name="com.utilities.CommonFunctions" />
	</listeners>

		<classes>

			<class name="com.AARestAssuredAPI.testcases.Get_All_Employees" />
			<class
				name="com.AARestAssuredAPI.testcases.Get_SingleEmployeeDetails" />
			<class
				name="com.AARestAssuredAPI.testcases.Post_NewRecord_intoDatabase" />
			<class
				name="com.AARestAssuredAPI.testcases.Put_Update_EmployeeDetails" />


		</classes>


	</test> <!--Test-->

</suite> <!--Suite-->