<?xml version="1.0" encoding="UTF-8"?>

<!--<suite name="webautomationtestsuite" parallel="tests" data-provider-thread-count="2">-->

<suite name="webautomationtestsuite">

	<test name="webautomationtestcases">


		<classes>
			<class name="com.associateArchitect.testRunner.testRunner" />
		</classes>

		<listeners>
			<listener
				class-name="com.associateArchitect.base.BaseDriver" />
		</listeners>
	</test> <!--
	Test -->

</suite> <!--
Suite -->
